Uptime Information:
{{ CSVuptime }}

Datetime Information:
{{ CSVdatetime }}

Mountpoint Information:
Filesystem: {{ CSVmountPcent[0] }}
Size: {{ CSVmountPcent[1] }}
Used: {{ CSVmountPcent[2] }}
Avail: {{ CSVmountPcent[3] }}
Use%: {{ CSVmountPcent[4] }}
Mounted on: {{ CSVmountPcent[5] }}

Checking For Package Installation:
{{ CSVpkgInstalled }}
